<link rel='stylesheet' href="../_scss/niccage.scss" type="text/css">
<div class="marquee">
    <div class="track">
        <span class="text -r">Nicolas.<span class="-green">Nicolas.</span></span><span class="text -r">Nicolas.<span class="-green">Nicolas.</span></span><span class="text -r">Nicolas.<span class="-green">Nicolas.</span></span><span class="text -r">Nicolas.<span class="-green">Nicolas.</span></span>
    </div>
</div>

<div class="marquee">
    <div class="track">
        <span class="text -twox">Cage.<span class="-green">Cage.</span><img src="https://assets.codepen.io/13313/image+1.png" /></span><span class="text -twox">Cage.<span class="-green">Cage.</span><img src="https://assets.codepen.io/13313/image+1.png" /></span><span class="text -twox">Cage.<span class="-green">Cage.</span><img src="https://assets.codepen.io/13313/image+1.png" /></span><span class="text -twox">Cage.<span class="-green">Cage.</span><img src="https://assets.codepen.io/13313/image+1.png" /></span>
    </div>
</div>

<div class="marquee">
    <div class="track">
        <span class="text -r">Nicolas.<span class="-green">Nicolas.</span></span><span class="text -r">Nicolas.<span class="-green">Nicolas.</span></span><span class="text -r">Nicolas.<span class="-green">Nicolas.</span></span><span class="text -r">Nicolas.<span class="-green">Nicolas.</span></span>
    </div>
</div>

<div class="marquee">
    <div class="track">
        <span class="text -twox">Cage.<span class="-green">Cage.</span><img src="https://assets.codepen.io/13313/image+1.png" /></span><span class="text -twox">Cage.<span class="-green">Cage.</span><img src="https://assets.codepen.io/13313/image+1.png" /></span><span class="text -twox">Cage.<span class="-green">Cage.</span><img src="https://assets.codepen.io/13313/image+1.png" /></span><span class="text -twox">Cage.<span class="-green">Cage.</span><img src="https://assets.codepen.io/13313/image+1.png" /></span>
    </div>
</div>

<div class="marquee">
    <div class="track">
        <span class="text -r">Nicolas.<span class="-green">Nicolas.</span></span><span class="text -r">Nicolas.<span class="-green">Nicolas.</span></span><span class="text -r">Nicolas.<span class="-green">Nicolas.</span></span><span class="text -r">Nicolas.<span class="-green">Nicolas.</span></span>
    </div>
</div>

<div class="marquee">
    <div class="track">
        <span class="text -twox">Cage.<span class="-green">Cage.</span><img src="https://assets.codepen.io/13313/image+1.png" /></span><span class="text -twox">Cage.<span class="-green">Cage.</span><img src="https://assets.codepen.io/13313/image+1.png" /></span><span class="text -twox">Cage.<span class="-green">Cage.</span><img src="https://assets.codepen.io/13313/image+1.png" /></span><span class="text -twox">Cage.<span class="-green">Cage.</span><img src="https://assets.codepen.io/13313/image+1.png" /></span>
    </div>
</div>