<footer class="site-footer h-card">
    <!-- <data class="u-url" value="{{ '#' | relative_url }}"></data> -->
    <div style="width: 100%; border-bottom: 1px solid #d00000;"></div>
    <div class="dcf-bleed unl-bg-scarlet">
        <div class="footer-margins">
            <div class="footer-col footer-col-2">
                {%- include social.html -%}
            </div>
            <div class="footer-col footer-col-3 dcf-txt-2xs dcf-d-inline-flex unl-cream dcf-mb-2">
                {{ site.title | escape -}}
                <br>Professor
                <br>
                {{ site.affiliation }}
                <br>
            </div>
            <div class="footer-col footer-col-3 dcf-d-inline-flex">
                <div id="footer_unl_rev_div">
                    <img src="{{ '/assets/images/R_UNL_rev.png'| relative_url }}" height="60" width="80" alt="UNL Logo" >
                </div>
            </div>
        </div>
    </div>
</footer>
