<header class="dcf-header site-header dcf-d-flex dcf-ai-center login-card-pt login-card-px" id="dcf-header" role="banner">
  <div class="content dcf-bleed">
    <div class='dcf-header-global dcf-wrapper dcf-d-flex dcf-flex-row dcf-flex-nowrap dcf-ai-center dcf-jc-between dcf-relative dcf-bt-solid dcf-bt-3 unl-bt-scarlet' style="width: -moz-available;">
      <a id='dcf-institution-title' class="dcf-institution-title dcf-flex-shrink-0 dcf-pt-3 dcf-pb-3 dcf-txt-xs unl-ls-3" href='https://www.unl.edu/' title="University of Nebraska Home">
        <span class='dcf-uppercase unl-font-serif-ltd-caps text-uppercase'>UNIVERSITY </span>
        <span class='dcf-italic unl-font-serif-ltd-italic font-italic'>of </span>
        <span class='dcf-uppercase unl-font-serif-ltd-caps text-uppercase'>NEBRASKA&nbsp;&mdash;&nbsp;LINCOLN</span>
      </a>
    </div>
    <div id="dcf-logo" class="dcf-logo dcf-flex-row dcf-d-flex dcf-wrapper dcf-d-flex dcf-ai-flex-end dcf-relative dcf-overflow-hidden">
      <noscript>
        <!-- This is a simple shim to provide vertical space for the noscript warning -->
        <div id="wdn_noscript_padding"></div>
      </noscript>
      <div class="dcf-logo-lockup dcf-wrapper dcf-relative dcf-pt-1" style="display: flex;">
        <div id="dcf-header-logo" style="display: inline-flex;">
          {%- include unl_header.html -%}
        </div>
      </div>
    </div>
  </div>
</header>
{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}


