
<div class="home">

  <div class="dcf-wrapper dcf-mt-1">
    <ul class="dcf-grid-halves@sm dcf-list-bare">
      <li class="dcf-card dcf-d-flex dcf-flex-col">
        <div class="dcf-card-block">
          <div class="dcf-image-wrapper">
            <img class='dcf-first' src="assets/images/wmotycka-square-300.jpg" alt="#{{ page.title }}" />
          </div>
        </div>
      </li>
      <li class="dcf-card dcf-d-flex dcf-flex-col">
        <div class="dcf-card-block">
          Research Technical Support Specialist
          <br/>
          School of Computing Web Technologies Support
          <br/>
          {{ site.address }}
          <br/>
          {{ site.office }}
          <!-- Office: Avery Hall 27A  -->
          <br/>
          Phone: (402) 472-5069
          <br/>
          Email: <a class="u-email" href="mailto:{{ site.email }}">{{ site.email | replace: "@", "&lt;at&gt;" }}</a>
          <br/>
          <hr/>
          <h5>
            Education
          </h5>
          A.S. Electronics Engineering - Southeast Community College - Milford<br/>
          B.S. Computer Science - University of Nebraska - Lincoln<br/>
          M.S. Computer Science - University of Nebraska - Lincoln
          <br/>
          <br/>
          <h5>
            Past Experience
          </h5>
          <ul class="dcf-list-bare">
            <li>
              AT&T Bell Telephone Laboratories
              <ul class="dcf-list dcf-txt-xs">
                <li>
                  Switch - adjunct processor interface hardware development
                </li>
                <li>
                  Adjunct systems test engineering
                </li>
                <li>
                  Factory software production support
                </li>
                <li>
                  Quality management process definition and deployment
                </li>
              </ul>
            </li>
            <li>
              Lucent Technologies - Bell Labs
              <ul class="dcf-list dcf-txt-xs">
                <li>
                  Product support engineering
                </li>
                <li>
                  Project management
                </li>
              </ul>
            </li>
            <li>
              Avaya Labs
              <ul class="dcf-list dcf-txt-xs">
                <li>
                  Voice mail/integrated messaging systems engineering
                </li>
                <li>
                  Central-office messaging systems engineering
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ '/feed.xml' | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
