header#login-header #header .name {
  font-family: Mercury SSm Ltd Caps A,Mercury SSm Ltd Caps B,Georgia,serif !important;
  font-size: 0.85em;
  margin: 1em 0 0 0.67em;
  font-style: italic;
}

#dcf-site-affiliation {
  font-weight: 700;
  font-size: 0.6em;
  display: inline-flex;
  font-stretch: condensed;
  padding-left: 1.5em;
  padding-bottom: 0.2em;
  line-height: 1.5em;
}

#dcf-site-title {
  margin-bottom: 1em;
  padding-left: 2em;
}

.dcf-black {
  color: #000 !important;
}

.footer-margins {
    margin: 0 5.62vw 0 5.62vw;
}
.footer-margins a {
    color: #fefdfa;
}

.social-media-list {
    list-style: none;
}

.social-media-list li svg {
    display:flex;
    transform: translate(0, 2vw);
    viewport-fit: 0 0 60 60;
    height: 30px;
    width: 30px;
}

a {
  color: #dd0000;
  text-decoration: none;
}
a:visited {
  color: #dd0000;
}
a:hover {
  color: #b00;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        --body-bg: #FFFFFF;
        --body-color: #242423;
        --link: #d00000;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --body-bg: #242423;
        --body-color: #FFFFFF;
        --link: #71bdd3;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --link: #fefdfa;
    }
    a:visited {
        color: #fefdfe;
    }
    a:hover {
        color: #71bdd3;
    }
}

#footer_unl_rev_div {
    transform: translate(50vw,2vw);
}

@media screen and (max-width: 904px) {
    #footer_unl_rev_div {
        transform: translate(40vw, 2vw);
    }
}
@media screen and (max-width: 675px) {
    #footer_unl_rev_div {
        transform: translate(15vw, 2vw);
    }
}

.home .dcf-image-wrapper img {
    width: 18em;
}

div.home button.tablinks {
    border: none;
}

div.home button.tablinks.active {
    border: 1px solid black;
    background: inherit;
}
