header#login-header #header .name {
  font-family: Mercury SSm Ltd Caps A,Mercury SSm Ltd Caps B,Georgia,serif !important;
  font-size: 0.85em;
  margin: 1em 0 0 0.67em;
  font-style: italic;
}

#dcf-site-affiliation {
  font-weight: 700;
  font-size: 0.6em;
  display: inline-flex;
  font-stretch: condensed;
  padding-left: 1.5em;
  padding-bottom: 0.2em;
  line-height: 1.5em;
}

#dcf-site-title {
  margin-bottom: 1em;
  padding-left: 2em;
}

.dcf-black {
  color: #000 !important;
}

.footer-margins {
    margin: 0 5.62vw 0 5.62vw;
}
.footer-margins a {
    color: #fefdfa;
}

.social-media-list {
    list-style: none;
}

.social-media-list li svg {
    display:flex;
    transform: translate(0, 2vw);
    viewport-fit: 0 0 60 60;
    height: 30px;
    width: 30px;
}

a {
  color: #dd0000;
  text-decoration: none;
}
a:visited {
  color: #dd0000;
}
a:hover {
  color: #b00;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        --body-bg: #FFFFFF;
        --body-color: #242423;
        --link: #d00000;
    }
}

body.unl.html.front.unl\@light div.home button.btn.tablinks {
    border: none;
}

body.unl.html.front.unl\@light div.home button.btn.tablinks.active {
    border-top: 1px solid var(--body);
    border-bottom: 1px solid var(--bg-body);
    border-left: 1px solid var(--body);
    border-right: 1px solid var(--body);
}
/* Dark mode */
body.unl.html.front.unl\@dark button.btn{
        color: #fefdfe;
}

body.unl.html.front.unl\@dark button.btn.tablinks {
    border: none;
}

body.unl.html.front.unl\@dark button.btn.tablinks.active {
    border-top: 1px solid var(--body);
    border-bottom: 1px solid var(--bg-body);
    border-left: 1px solid var(--body);
    border-right: 1px solid var(--body);
}

body.unl.html.front.unl\@dark div.tabcontent {
    border: 1px solid var(--bg-body);
}

@media (prefers-color-scheme: dark) {
    :root {
        --body: #FFFFFF;
        --body-bg: #242423;
        --body-color: #FFFFFF;
        --link: #71bdd3;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --link: #fefdfa;
    }
    a:visited {
        color: #fefdfe;
    }
    a:hover {
        color: #71bdd3;
    }
    .btn {
        color: var(--body);
    }
}

#footer_unl_rev_div {
    transform: translate(50vw,2vw);
}

@media screen and (max-width: 904px) {
    #footer_unl_rev_div {
        transform: translate(40vw, 2vw);
    }
    body.unl.html.front.unl button.btn.tablinks.active {
        color: var(--link);
        text-decoration: underline;
    }
}
@media screen and (max-width: 675px) {
    #footer_unl_rev_div {
        transform: translate(15vw, 2vw);
    }
    body.unl.html.front.unl button.btn.tablinks.active {
        color: var(--link);
        text-decoration: underline;
    }
}

html {height: -webkit-fill-available;}
body{min-height:100vh; min-height: -webkit-fill-available;}

.home .dcf-image-wrapper img {
    width: 18em;
}

body.unl.html.front div.home button.tablinks {
    background-color: var(--body-bg);
    color:var(--body-color);
    font-size: calc(.6em + .22632vw);
    margin-bottom: -1px;
    margin-right: -0.3em;
    border: 0;
    background: var(--bg-body);
    border-bottom: 1px solid var(--body-color);
}

body.unl.html.front div.home button.tablinks.active {
    text-decoration: underline;
    color:var(--link);
    border-top: 1px solid var(--body-color);
    border-right: 1px solid var(--body-color);
    border-left: 1px solid var(--body-color);
    border-bottom: 1px solid var(--bg-body);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: var(--bg-tab-selected);
}

body.unl.html.front div.home div.tabcontent {
    font-size: calc(.6em + .22632vw);
    border: 1px solid var(--body);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    max-width:95%;
}
/* font-size: calc(.82855em + .22632vw); */